<!DOCTYPE html>
<html>
  <head>
    <title>Cay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/shared/header' if user_signed_in? %>
    <div class="container pt-3">
      <% flash.each do |type, message| %>
        <% message = [message] if message.class.eql?(String) %>
        <div class="alert alert-<%= type.eql?('alert') ? 'danger' : 'info' %>" id="alert">
          <% if message.count > 1 %>
            <ul>
              <% message.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          <% else %>
            <%= message.to_sentence %>
          <% end %>
        </div>
      <% end %>

    <%= yield %>
    </div>
  </body>
</html>

<script>
  $("#alert").delay(1500).slideUp(500)
</script>